@import "../core.less";

/* sprites */
.game-pic-sh{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px 0px;height:150px;width:230px;}
.game-pic-tl{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -150px;height:150px;width:230px;}
.game-pic-ld{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -300px;height:150px;width:230px;}
.game-pic-dp{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -450px;height:150px;width:230px;}
.game-pic-hx {background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -600px;height:150px;width:230px;}
.tips-busi{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -750px;height:29px;width:31px;}
.tips-new{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -779px;height:29px;width:31px;}
.tips-active{background:url("@{imgPath}/index/allbgs.jpeg") no-repeat 0px -808px;height:29px;width:31px;}



