@import (inline) './reset.css';
@import './core.less';

/* 通用布局类 */
.g-doc{
	position: relative;
}

.g-body {
	width: 100%;
}

.g-center{
	width: 1200px;
	.center-block();
}

.g-sidebar{
	float: right;
}

.g-main{
	float: left;
}

/* 通用工具类 */
.f-clearfix{
	height: 0;
	.clearfix();
}
.f-dn{
	display: none;
}

/* 通用组件样式 */
.u-tabs{
	height: 35px;
	line-height: 35px;
	position: relative;
	font-size: 0;
	a{
		width: 50%;
		*width: 49%;
		_width: 49%;
		height: 35px;
		font-size: 14px;
		font-weight: bold;
		line-height: 35px;
		color:@color-font-default;
		text-align: center;
		background: #ebebeb;
		.inline-block();
	}
	a:hover{
		background: white;
	}
}
.u-tabs-active{
	background: white !important;
}

.u-widget-title{
	width: 300px;
	height: 39px;
	line-height: 39px;
	color: @color-font-default;
	background: #ebebeb;
	position: relative;
	text-align: center;
	h2{
		font-size: 14px;
		font-weight: bold;
	}
	a{
		position: absolute;
		right:10px;
	 	top:0;
	 	color:#999;

	}
}

/* 红色拐角 */
.u-corner-lt{
	position: absolute;
	left: 0;
	top: 0;
	.sprite(@tip-lt);
}
.u-corner-rb{
	position: absolute;
	right: 0;
	bottom: 0;
	.sprite(@tip-rb);
}
/* 默认列表表格样式 */
.font-red {
	color: #fa3232;
	font-weight: bold;
}
.mr20 {
	margin-left: 20px;
}
.u-rank-list {
	background: #fff;
}
.u-ranktable{
	width: 100%;
	margin-left: 7px;

	tr{
		height: 35px;
		border-bottom:1px dashed #f0f0f0;
	}
}

.u-rank-item {
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 1px dashed #f0f0f0;
}

.u-rank-img {
	width: 40px;
	height: 40px;
	float: left;
}

.u-rank-info {
	margin-left: 50px;
	h3 {
		font-weight: normal;
		font-family: 'Microsoft Yahei';
		color: #4c4c4c;
	}
	p {
		line-height: 35px;
		color: #808080;
	}
}

.m-rank-col-3 {
	background: #fff;
	margin-bottom: 30px;
	.m-rank-title{
		height: 34px;
		padding-left: 27px;
		line-height: 34px;
		color:#999;
		font-weight: bold;
		border-bottom: 1px solid #f0f0f0;
	}
	.m-rank-span {
		text-align: center;
		.inline-block();
		.text-ellipsis();
	}
	.m-rank-gamename{
		width: 60px;
	}
	.m-rank-username{
		width: 100px;
	}
	.m-rank-money{
		width: 74px;
	}
	.m-rank-sects {
		width: 74px;
	}
	.m-rank-fans{
		width: 90px;
	}
}

.m-rank-advance {
	padding: 10px;
}
.u-ranktips{
	.inline-block();
	width: 10px;
	height: 10px;
	padding: 2px;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	color:white;
	-webkit-transform:scale(0.8);
	background: @color-light-default;
}

/* font-icon */
@font-face{
	font-family: "mallfont";
	src: url('/assets/img/iconfont/iconfont.eot'); /* IE9*/
    src: url('/assets/img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/img/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/assets/img/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/assets/img/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */

}

.f-iconfont{
	font-family:"mallfont" !important;
    font-style:normal;
    font-size:12px;
    *zoom:1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}



/* 全站通用TOP条 */
.m-top{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: @color-bg-default;
	color:@color-font-default;

	i{
		color:#999;
	}
}
.m-top-left{
	float: left;
}
.m-top-favorites{
	margin-right: 26px;
	cursor: pointer;
 
	&:hover i{
		color: @color-light-default;
	}
}

.m-top-welcome{
	margin-right: 30px;
}

.m-top-userHandle a{
	margin-right: 17px;
	color:@color-link-default;
}

.m-top-buttons{
	position: relative;
	float: right;
	height: 35px;
	line-height: 35px;
  	font-size: 0;

	span{
		height: 15px;
		font-size: 12px;
		line-height: 15px;
		padding: 0 12px;
		cursor: pointer;
		vertical-align: middle;
		border-right: 1px solid #ccc;
		border-left: 1px solid @color-bg-default;
		.inline-block();
	}
 
	a{
		color:@color-font-default;
	}
	a:hover{
		color: @color-font-hover;
	}
}
.m-top-userbar{
	ul{
		position: absolute;
		width: 122px;
		top: 35px;
		left: 0;
		background: white;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		.box-shadow(0 2px 5px #ddd);
		li{	

			line-height: 32px;
			height: 32px;
			text-indent: 1em;
			&:hover{
				background: #f5f5f5;
			}
		}
	}
	&:hover{
		ul{
			display: block;
		}
	}
}

.m-top-slidebar:hover{
		height: 35px;
		background: white;
		padding: 0 12px;
		line-height: 35px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		.box-shadow(0 0 5px #ddd);
}

/* 全站通用HEADER */
.m-header{
	padding-top: 33px;
}

.m-header-logo{
	.sprite(@logo);
	float: left;
}

.m-header-tools{
	width: 679px;
	float: right;
}

.m-header-search{
	width: 580px;
	height: 37px;
	border: 2px solid @color-red-default;
	float: left;
	font-size: 0;
	
	div,input,button{
		height: 37px;
		line-height: 37px;
		.inline-block();
	}
}

.m-header-gameSelect,.m-header-serverSelect{
	width: 127px;
	text-align: center;
	background: @color-bg-default;
	font-size: 12px;
	cursor: pointer;
}
.m-header-gameSelect{
	border-right:1px solid #ebebeb;
}
.m-header-gamelist{
	display: none;
}

.m-header-goodsInput{
	width: 245px;
	border:0;
}
.m-header-searchBtn{
	width: 80px;
	height: 37px;
	font-size: 14px;
	font-weight: bold;
	background: @color-red-default;
	border:0;
	color:white;
}
.u-gameselect-content{
	width: 126px;
	text-align: center;
	line-height: 37px;
	background: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	.box-shadow(0 2px 5px #ddd);
	li{
		line-height: 32px;
		height: 32px;
		text-align: left;
		cursor: pointer;
		text-indent: 1em;
		&:hover{
			background: #f5f5f5;
		}
	}
}
.m-header-toSale{
	float: right;

	button{
		width: 77px;
		height: 41px;
		font-size: 14px;
		font-weight: bold;
		background: @color-red-default;
		border:0;
		color:white;
	}
}

.m-menu{
	height: 40px;
	color:white;
	background: @color-red-default;
	margin-top: 38px;
	line-height: 40px;
	font-size: 0;

	a{
		color:white;
		font-weight: bold;
		font-size: 14px;
		padding: 0 50px;
		height: 40px;
		.inline-block();
	}

	a:hover{
		background: @color-red-hover;
	}

}

.m-menu-active{
	background: @color-red-hover;
}

/* 购买数量 */ 
.u-input-number {
	float: left;
	margin-left: 8px;
	font-size: 0;
}
.u-decrease, .u-increase {
	.inline-block();
	vertical-align: middle;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	text-decoration: none;
}

.u-decrease{
	background: url("@{imgPath}/common/inputnum_sprite.png") 0 0 no-repeat;
}

.u-increase{
	background: url("@{imgPath}/common/inputnum_sprite.png") 0 -23px no-repeat;
}

.u-decrease.f-disable, .u-increase.f-disable {
	cursor: default;
	cursor: not-allowed;
}

.u-number .u-number-input {
	width: 46px;
	height: 20px;
	font-size: 14px;
	text-align: center;
	outline: none;
	border: 1px solid #CACACA;
	border-left: none;
	border-right: none;
	vertical-align: middle;
	color: #333;
}

.u-inputnum-tip {
	float: left;
	height: 22px;
	margin-left: 8px;
	font-size: 12px;
	line-height: 22px;
	color: #808080;
}
// #J_LeftNum.error {
// 	color: #F01212;
// }