.game-pic-sh{background:url(../imgs/allbgs.jpeg) no-repeat 0px 0px;height:150px;padding-left:230px;}
.game-pic-tl{background:url(../imgs/allbgs.jpeg) no-repeat 0px -150px;height:150px;padding-left:230px;}
.game-pic-ld{background:url(../imgs/allbgs.jpeg) no-repeat 0px -300px;height:150px;padding-left:230px;}
.game-pic-dp{background:url(../imgs/allbgs.jpeg) no-repeat 0px -450px;height:150px;padding-left:230px;}
.game-pic-hx {background:url(../imgs/allbgs.jpeg) no-repeat 0px -600px;height:150px;padding-left:230px;}
.ҳ_13{background:url(../imgs/allbgs.jpeg) no-repeat 0px -750px;height:29px;padding-left:31px;}
.ҳ_31{background:url(../imgs/allbgs.jpeg) no-repeat 0px -779px;height:29px;padding-left:31px;}
.ҳ_58{background:url(../imgs/allbgs.jpeg) no-repeat 0px -808px;height:29px;padding-left:31px;}
